body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.stay-focused-initialization{
    display: flex;
}
.half-partision{
    width: 50%;
    padding-left: 5%;
}
.half-partision img{
    width: 55%;
    margin-top: -25px;
}
h1{
    font-size: 50px;
}
.text-color{
    color: orange;
}
#border-for-the-text{
    border-left: 5px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    padding-left: 2%;
}
.btn-creation{
    padding: 10px 23px;
    font-weight: 500;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    display: inline;
}
.definition-of-stay-focus{
    font-family: 'Titillium Web', sans-serif;
}


.three-partision{
    display: flex;
}
#my-mission-in-2022{
    text-align: center;
    font-weight: 700;
    
}
.three-pertision-for-achivement{
    width: 33%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
}
.mission-img{
    width: 30%;
    height: auto;
    padding-top: 3%;
}
#three-pertision-for-achivement-id1{
    background-color: rgb(209, 232, 241);
    margin-left: 200px;
    margin-right: 20px;
}
.mission-txt{
    text-align: justify;
}
#three-pertision-for-achivement-id2{
    background-color: rgb(241, 209, 227);
}
#three-pertision-for-achivement-id3{
    background-color: rgb(236, 241, 209);
    margin-left: 20px;
    margin-right: 100px;
}


.section-3{
    display: flex;
    margin-top: 7%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 6%;
    background-position-y: 15%;
}
#half-partision-3rd-section1 img{
    width: 70%;
    height: auto;
}
#half-partision-3rd-section1{
    margin-left: 8%;
}
#half-partision-3rd-section2{
    margin-left: -15%;
    margin-right: 5%;
}


.section-4{
    display: flex;
    margin-top: 7%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 92%;
    background-position-y: 150%;

}
#half-partision-4rd-section1{
    margin-left: 8%;
}
#half-partision-4rd-section2 img{
    width: 70%;
    height: auto;
}
